---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-10 hero mobile-hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-sm-12">
      <h1 class="font-weight-bold mb-4 serif-font">Shaar Koo's recipes in one spot!</h1>
      <p class="lead mb-4">All of our charcuterie boards come with unique recipes that really enhance the expereince. Check out below for the latest recipes from us.</p>
      <a href="{{ site.shaarkoo.products | absolute_url }}" class="btn btn-dark text-white px-5 btn-lg shop-now-btn float-right">Shop Now</a>
    </div>
    <!-- <div class="col-md-6 text-right pl-0 pl-lg-4">
      <a href="{{ site.shaarkoo.website }}">
        <img class="intro" style="object-fit:cover;" height="100" src="{{site.baseurl}}/assets/CoverImage-1200x628px.png">      
      </a>
    </div> -->
  </div>
</div>

<div class="rounded mb-12 desktop-hero">
  <div class="row justify-content-between">
    <div class="col-lg-12">
      <a href="https://shaarkoo.com/">
        <img style="object-fit:contain;" height="100" src="{{site.baseurl}}/assets/CoverImage-1200x628px.png">
      </a> 
    </div>
    
  </div>
</div>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>


<!-- Posts List with Sidebar (except featured)
================================================== -->
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% assign product = site.data.products.products[0] %}
    {% include sk_product.html %}
    {% include sidebar.html %}
  </div>
</section>
